# .env.sample for reddit-etl.py
# Copy this file to .env and set your values

# Directory containing your Reddit JSON data
SCRAPED_DIR=path/to/your/scraped_reddit_data
# Set the export folder and run
DISCORD_EXPORT_DIR=/path/to/your/discord_exports python discord-etl.py